
h3 {
  text-align: center;
  font-family: 'Audiowide', cursive;
}

h1 {
  color: white;
  font-family: 'Audiowide', cursive;
}

body {
  background: black;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: none;
}

img {
  display: inline-block;
}


#reset {
  background-color: black;
  border: none;
  font-family: 'Audiowide', cursive;
}

#start {
  position: relative;
  top: 20%;
  left: 0%;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  font-family: 'Audiowide', cursive;
}

.sky {
  /*border: .5px dotted gray;*/
  height: 65px;
  background: none;
}

.heli {
  background-image: url("../images/coptor.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.boom {
  background-image: url("../images/boom.gif") !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.bomb {
  background-image: url("../images/bomb.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.finish {
  background-image: url("../images/finish.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
/*.sky:hover {
  background-image: url("../images/coptor.png");
  background-size: contain;
  background-repeat: no-repeat;
}*/

#startbox {
  text-align: center;
  text-transform: capitalize;
}


#city {
	background: black url(../images/cityb.jpg) repeat-x;
	height: 500px;
	position: relative;
  background-size: contain;
}

.cityMoves {
  -webkit-animation: move-city-top 15s infinite linear;
}

/*
	Animation Definitions
*/

@-webkit-keyframes move-city-top {
from { background-position: -533px; }
  to { background-position: 0px; }

}
