/*
Animations:
*/
h3 {
  text-align: center;
}

h1 {
  color: gray;
}

body {
  background: black;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: none;
}

img {
  display: inline-block;
}

/*#cityOld {
  background-image: url("../images/city.jpg");
  background-size: cover;
  background-position: bottom;
  height: 450px;
}*/

#reset {
  background-color: #F44E08;
}

#start {
  position: relative;
  top: 20%;
  left: 0%;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.sky {
  /*border: .5px dotted gray;*/
  height: 65px;
  background: none;
}

.heli {
  background-image: url("../images/coptor.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.boom {
  background-image: url("../images/boom.gif");
  background-size: contain;
  background-repeat: no-repeat;
}


/*.sky:hover {
  background-image: url("../images/coptor.png");
  background-size: contain;
  background-repeat: no-repeat;
}*/

#startbox {
  text-align: center;
  text-transform: capitalize;
}


/*.box {
  border: .5px dotted gray;
  height: 100px;
  background: none;
}*/


/*
.blue {
  border: 1px solid black;
  height: 150px;
  background: blue;
}

.red {
  border: 1px solid black;
  height: 150px;
  background: red;
}*/


/*span {
  color: #EE2D0D;
}*/



#city {
	background: black url(../images/cityb.jpg) repeat-x;
	height: 500px;
	position: relative;
  background-size: contain;
}

.cityMoves {
  -webkit-animation: move-city-top 15s infinite linear;
}

/*
	Animation Definitions
*/

@-webkit-keyframes move-city-top {
from { background-position: -533px; }
  to { background-position: 0px; }

}
